<!DOCTYPE html>

@bundleUrl(projectName: String, js: String => Seq[String]) = @{
    val name = projectName.toLowerCase
    js(name).find(name => getClass.getResource("/public/" + name) != null).map(controllers.routes.Assets.versioned(_).url)
}

@bundleProject(projectName: String) = @{
    bundleUrl(projectName, name => Seq(name + "-opt-bundle.js", name + "-fastopt-bundle.js"))
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TODO</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    </head>
    <body>
        <div id="root">
        </div>
        <script src="@bundleProject("client")"></script>
    </body>
</html>
